<div class="col-md-3">

  </div>
<div class="col-md-6 col-sm-12 panel panel-default">
  <div class="panel-default">
    <div class="panel-heading">
      <h2 align="center"><%= @post.title %></h2>
    </div>
        By:<%= link_to @post.user.name, user_path(@post.user.id)  %><br>
        <%= @post.category %><br>
        <%= @post.description %><br>
        <% if @post.user == current_user %>
          <%= link_to 'Edit Post', edit_post_path(@post.id) %>
          <%= link_to 'Delete Post', post_path(@post.id), method: :delete %>
        <%else%>
          <%= link_to 'Apply'%>
        <% end %>
    </div>
<div class="col-md-3">

</div>
